<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Amit Kumar Bhuyan</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/AB.png" rel="icon">
  <link href="../static/img/AB.png" rel="AB3">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
  <style type="text/css">
    .flipcard {
      position: absolute;
      left: 0px;
      height: 610px;
      width: 700px;
    }
    .flipcard-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transform-style: preserve-3d;
      transition: transform 0.8s ease 0s;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    }
    .flipcard:hover .flipcard-inner {
      transform: rotatey(180deg);
    }
    .flipcard-front, .flipcard-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .flipcard-back {
      background-color: rgb(41, 128, 185);
      font-family: "Merienda One";
      font-size: 30px;
      color: white;
      transform: rotatey(180deg);
    }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../static/img/AB.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Amit Kumar Bhuyan</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="#services"><i class="bx bx-server"></i> Competitions</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->
  <canvas id="c"></canvas>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 class="glow">Amit Kumar Bhuyan</h1>
      <p>I love <span class="typed" data-typed-items="Data Science, Machine Learning, Deep Learning, Competitive Coding, Web Development"></span></p>
    </div>
  </section>
  
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a pursuing B.E in Electronics and Telecommunications from Army Institute of Technology, Pune. I welcome you to my portfolio website. To know more about my skills and fields of expertise scroll down.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="../static/img/amit.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Machine Learning Developer &amp; Competitive Coder.</h3>
            <p class="font-italic">
              I am a Machine Learning Developer. I love taking part in Machine Learing challenges and solve real world problems and build machine learning systems on top of it. I also do competitive coding to improve my problem solving skills. With my immense love for machine learning I keep learning new things and dream of becoming a very good Data Scientist some day.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 23 April 1999</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> <a href="https://github.com/bhuyanamit986"> GitHub</a></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +918952817512</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Pune, Maharashtra</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 21</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor of Engineering.</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> bhuyanamit986@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
              I want to gain more experience by working with various organizations and keep learning new things. I have worked on numerous amount of projects and taken part in many machine learning hackathons which you can find below.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="summary" class="summary">
      <div class="container">

        <div class="section-title">
          <h2>Summary</h2>
          <p> With the immense love of Machine Learning, I have gained indepth knowledge in various aspects of Data Science and Machine Learning. From classical Machine Learning models to Deep Neural Networks I have experienced a diverse applications of Machine Learning. I have done various certification courses from well recognized organizations. Apart from courses I have also implemented some research papers in my projects and taken part in machine learning challenges to gain more expertise in various topics. Apart from Machine Learning I do Competitive Coding to increase my problem solving skills and Web Development to deploy my models with the help of Heruko. I am interested in doing research in AI and Deep Learning in future.

</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="icofont-laptop"></i>
              <span data-toggle="counter-up">2</span>
              <p><strong>Competitions</strong> I have taken part in 2 machine learning competitions.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="icofont-code"></i>
              <span data-toggle="counter-up">31</span>
              <p><strong>Repositories</strong> Check out my GitHub to get source codes of my projects.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="icofont-badge"></i>
              <span data-toggle="counter-up">15</span>
              <p><strong>Certifications</strong> I have done various certification courses in Data Science and Machine Learning.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="icofont-brainstorming"></i>
              <span data-toggle="counter-up">1000</span>
              <p><strong>Problem Soving</strong> Solved questions in Hackerrank, Codeforces, Leetcode, SPOJ and other platforms.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p></p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill1">TensorFlow <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill2">CSS <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="80"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill3">PyTorch <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill4">Machine Learning <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill5">HTML <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill6">C++ <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill7">Python <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill8">GitBash <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Amit Kumar Bhuyan</h4>
              <p><em>Student of Electronics and Telecommunications department at Army Institute of Technology, Pune which is one of the best colleges in pune. With my interests in softwares and machine learning. I want to develop intelligent systems which can make life of people easier.</em></p>
              <ul>
                <li>Army Institute of Technology, Pune</li>
                <li>+918952817512</li>
                <li>bhuyanamit986@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Electronics & Telecommunications, B.E.</h4>
              <h5>2018-2022</h5>
              <p><em>Army Institute of Technology, Pune</em></p>
              <p>CGPA | 8.0</p>
            </div>
            <div class="resume-item">
              <h4>All India Senior School Certificate</h4>
              <h5>2016-2017</h5>
              <p><em>Army Public School, Jodhpur</em></p>
              <p>Percentage | 85.6%</p>
            </div>
            <div class="resume-item">
              <h4>Secondnary School Certificate</h4>
              <h5>2014-2015</h5>
              <p><em>Army Public School, Jodhpur</em></p>
              <p>CGPA | 8.4</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <h4>Introduction to Deep Learning</h4>
              <h5>July 2020 - Aug 2020</h5>
              <p><em>Higher School of Economics (Coursera)</em></p>
              <ul>
                <li>Covers all the fundamental aspects of Deep Learning and State of Art models which set up benchmark in Machine Learning Challenges.</li>
                <li>Practice in Jupyter workspace and a capstone project.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Python(Basic) (<a href="https://www.hackerrank.com/certificates/41d422afe053">41D422AFE053</a>)</h4>
              <h5>June 2020 - June 2020</h5>
              <p><em>Hackerrank</em></p>
              <ul>
                <li> 2 Hours test of Python.
              </ul>
            </div>
            <div class="resume-item">
              <h4>Introduction To TensorFlow In Python (<a href="https://www.datacamp.com/statement-of-accomplishment/course/b27c29f77b5caac8f8bd587dd3566e234fc642d2">#13384362</a>)</h4>
              <h5>May 2020 - May 2020</h5>
              <p><em>Data Camp</em></p>
              <ul>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Introduction to Deep Learning with PyTorch (<a href="https://www.datacamp.com/statement-of-accomplishment/course/3dac07ad3c2f028b13b078c45c03e58a5f561cce">#14181138</a>)</h4>
              <h5>May 2020 - May 2020</h5>
              <p><em>Data Camp</em></p>
              <ul>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Unsupervised Learning in Python (<a href="https://www.datacamp.com/statement-of-accomplishment/course/6fca26eaaa2dbf13ad3533d3fd06cd6e4111c1e1">#13044984</a>)</h4>
              <h5>May 2020 - May 2020</h5>
              <p><em>Data Camp</em></p>
              <ul>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Supervised Learning in scikit-learn (<a href="https://www.datacamp.com/statement-of-accomplishment/course/fccea7faaf9cc4d626a667eecc2b8a96314f05c5">#10492249</a>)</h4>
              <h5>April 2020 - April 2020</h5>
              <p><em>Data Camp</em></p>
              <ul>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Machine Learning with Tree-Based Models in Python (<a href="https://www.datacamp.com/statement-of-accomplishment/course/c0c2016a57df34162e18ebe93a962f9741415729">#13114569</a>)</h4>
              <h5>March 2020 - March 2020</h5>
              <p><em>Data Camp</em></p>
              <ul>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Machine Learning</h4>
              <h5>Jun 2019 - Aug 2019</h5>
              <p><em>Coursera </em></p>
              <ul>
                <li>This was online training by the professor Andrew Ng, Stanford University.</li>
                <li>Here I got basic introduction to machine learning and how optimization is done to reach to a solution for a machine learning problem. </li>
                <li>I audited the course.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Here are some of my projects which I have worked on. You can visit my GitHub account to find the source codes.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Apps</li>
              <li data-filter=".filter-jupyter">Jupyter</li>
              <li data-filter=".filter-challenges">Challenges</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/recommender-system.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/recommender-system.png" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="https://movie-bucket.herokuapp.com/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/flowers.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/flowers.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/FlowerClassification" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/cifar_preview.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/cifar_preview.png" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/myCIFAR10Keras" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/emotion.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/emotion.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/MoodDetector" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/udacity.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/udacity.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Udacity-Course-Projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/resnet.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/resnet.png" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Udacity-Course-Projects" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/deepstyle.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/deepstyle.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/DeepStyle" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/spam-classifier.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/spam-classifier.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="https://predict-spam.herokuapp.com/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/sentiments.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/sentiments.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/SENTIclass" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/superbowl.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/superbowl.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/TV-halftime-shows-and-the-Big-Game" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/hse.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/hse.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/HSE-Introduction-to-deep-learning" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/mnist.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/mnist.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/MNIST-DIGIT-CLASSIFIER" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/clustering.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/clustering.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/HERE_COMES_THE_CUSTOMER" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/donate.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/donate.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/CHARITY-ML" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/eda.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/eda.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/CHARITY-ML" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/photo.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/photo.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Machine-Learning-Techniques" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/amazon-fine-food.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/amazon-fine-food.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Amazon-Fine-Food-Sentiment" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/feature-selection.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/feature-selection.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/VarianceThreshold" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/catvsdog.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/catvsdog.jpeg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Cat-vs-Dog" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/logistic.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/logistic.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Logistic-Regression-from-scratch" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/ransac.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/ransac.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/Robust-Regression" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/matplotlib.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/matplotlib.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/MatplotlibTutorials" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jupyter">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/boston.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/img/portfolio/boston.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/bhuyanamit986/End-to-end-machine-learning" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Competitions</h2>
          <p>Machine Learning competitions plays an important role in the life of Data Scientists and Machine Learning Engineers. Machine Learning Challenges helps us to learn how to approach a real world problem, feature selection, data cleaning, EDA, etc. and these skills are very important to get proper knowledge about the data and the applying machine learning models proves to be beneficial.<br>Some good platforms for Machine Learning Competitions are:<br>
            <ul>
              <br>
              <li>Kaggle</li>
              <li>Driven Data</li>
              <li>Hackerearth</li>
              <li>Analytics Vidhya</li>
              <li>Machine Hack</li>
          </p>
        </div>

        <div class="normal">
          <div class="Hackerearth" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="assets/img/portfolio/danceform.png" data-gall="portfolioGallery" class="venobox" title="Web 3">HackerEarth Deep Learning challenge: Identify the dance form(click here to see the rank)<i class="icofont-badge"></i></a></h4>
            <p class="description">The dataset consists of 364 images belonging to 8 categories, namely manipuri, bharatanatyam, odissi, kathakali, kathak, sattriya, kuchipudi, and mohiniyattam.
            I secured 195 rank and was among the top 5% competitors. I really enjoyed this competition. I used VGG-16 as my model and managed to get around 100% accuracy on train set and 79% accuracy on test set. It could have improved if I would have used different seeding.</p>
          </div>
          <div class="Hackerearth" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="assets/img/portfolio/ocr.png" data-gall="portfolioGallery" class="venobox" title="Web 3">HackerEarth Machine Learning challenge: Love is love(click here to see rank)<i class="icofont-badge"></i></a></h4>
            <p class="description">The dataset consists of quotes that are uploaded during Pride Month. I secured 79th rank in this competition and was among the top 2% competitors. I used pytesseract for OCR but I faced problem in detecting texts from images in the data as the images were of very poor quality. I could have get better accuracy with google vision API.
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>I am open to internships and freelancing options.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Army Institute of Technology, Pune, Maharashtra</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>amitbhuyan_18512@aitpune.edu.in</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 8952817512</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.2698969083467!2d73.8728978149754!3d18.606926387358737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c70090000001%3A0x160a20f3d0273495!2sArmy%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1595583735961!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="flipcard" id="flipcard898">
              <div class="flipcard-inner">
                <div class="flipcard-front">
                  <img src="../static/img/amit.jpg" class="amit" alt="">
                </div>
                  <div class="flipcard-back">
                    <h1>
                      <u><b>Amit Kumar Bhuyan</b></u>
                    </h1><br>
                    <br>
              
                    <span><u><h3>Machine Learning Developer</h3></u></span><br>
                    <br>
              
                    <span>I am a Machine Learning Developer and I love building machine learning systems and taking part in machine learning challenges. If you love machine learning then you are welcome!</span><br>
                    <br>
              
                    <span class="mylinks"><a href="https://github.com/bhuyanamit986"><i class="fa fa-github"></i></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/amit-bhuyan-9636aa124"><i class="fa fa-linkedin"></i></a></span>
                  </div>
                </div>
              </div>
          </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MyPage</span></strong>
      </div>
      <div class="credits">
        Designed by Amit Kumar Bhuyan
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/typed.js/typed.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
  <script>
    // Wrap every letter in a span
    var textWrapper = document.querySelector('.glow');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
      .add({
        targets: '.glow .letter',
        opacity: [0,1],
        easing: "easeInOutQuad",
        duration: 3000,
        delay: (el, i) => 150*(i+1)
      }).add({
        targets: '.glow',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
      })
  </script>
  <script type="text/javascript">
var c = document.getElementById("c");
var ctx = c.getContext("2d");
var cH;
var cW;
var bgColor = "#FF6138";
var animations = [];
var circles = [];

var colorPicker = (function() {
  var colors = ["#FF6138", "#FFBE53", "#2980B9", "#282741"];
  var index = 0;
  function next() {
    index = index++ < colors.length-1 ? index : 0;
    return colors[index];
  }
  function current() {
    return colors[index]
  }
  return {
    next: next,
    current: current
  }
})();

function removeAnimation(animation) {
  var index = animations.indexOf(animation);
  if (index > -1) animations.splice(index, 1);
}

function calcPageFillRadius(x, y) {
  var l = Math.max(x - 0, cW - x);
  var h = Math.max(y - 0, cH - y);
  return Math.sqrt(Math.pow(l, 2) + Math.pow(h, 2));
}

function addClickListeners() {
  document.addEventListener("touchstart", handleEvent);
  document.addEventListener("mousedown", handleEvent);
};

function handleEvent(e) {
    if (e.touches) { 
      e.preventDefault();
      e = e.touches[0];
    }
    var currentColor = colorPicker.current();
    var nextColor = colorPicker.next();
    var targetR = calcPageFillRadius(e.pageX, e.pageY);
    var rippleSize = Math.min(200, (cW * .4));
    var minCoverDuration = 750;
    
    var pageFill = new Circle({
      x: e.pageX,
      y: e.pageY,
      r: 0,
      fill: nextColor
    });
    var fillAnimation = anime({
      targets: pageFill,
      r: targetR,
      duration:  Math.max(targetR / 2 , minCoverDuration ),
      easing: "easeOutQuart",
      complete: function(){
        bgColor = pageFill.fill;
        removeAnimation(fillAnimation);
      }
    });
    
    var ripple = new Circle({
      x: e.pageX,
      y: e.pageY,
      r: 0,
      fill: currentColor,
      stroke: {
        width: 3,
        color: currentColor
      },
      opacity: 1
    });
    var rippleAnimation = anime({
      targets: ripple,
      r: rippleSize,
      opacity: 0,
      easing: "easeOutExpo",
      duration: 900,
      complete: removeAnimation
    });
    
    var particles = [];
    for (var i=0; i<32; i++) {
      var particle = new Circle({
        x: e.pageX,
        y: e.pageY,
        fill: currentColor,
        r: anime.random(24, 48)
      })
      particles.push(particle);
    }
    var particlesAnimation = anime({
      targets: particles,
      x: function(particle){
        return particle.x + anime.random(rippleSize, -rippleSize);
      },
      y: function(particle){
        return particle.y + anime.random(rippleSize * 1.15, -rippleSize * 1.15);
      },
      r: 0,
      easing: "easeOutExpo",
      duration: anime.random(1000,1300),
      complete: removeAnimation
    });
    animations.push(fillAnimation, rippleAnimation, particlesAnimation);
}

function extend(a, b){
  for(var key in b) {
    if(b.hasOwnProperty(key)) {
      a[key] = b[key];
    }
  }
  return a;
}

var Circle = function(opts) {
  extend(this, opts);
}

Circle.prototype.draw = function() {
  ctx.globalAlpha = this.opacity || 1;
  ctx.beginPath();
  ctx.arc(this.x, this.y, this.r, 0, 2 * Math.PI, false);
  if (this.stroke) {
    ctx.strokeStyle = this.stroke.color;
    ctx.lineWidth = this.stroke.width;
    ctx.stroke();
  }
  if (this.fill) {
    ctx.fillStyle = this.fill;
    ctx.fill();
  }
  ctx.closePath();
  ctx.globalAlpha = 1;
}

var animate = anime({
  duration: Infinity,
  update: function() {
    ctx.fillStyle = bgColor;
    ctx.fillRect(0, 0, cW, cH);
    animations.forEach(function(anim) {
      anim.animatables.forEach(function(animatable) {
        animatable.target.draw();
      });
    });
  }
});

var resizeCanvas = function() {
  cW = window.innerWidth;
  cH = window.innerHeight;
  c.width = cW * devicePixelRatio;
  c.height = cH * devicePixelRatio;
  ctx.scale(devicePixelRatio, devicePixelRatio);
};

(function init() {
  resizeCanvas();
  if (window.CP) {
    // CodePen's loop detection was causin' problems
    // and I have no idea why, so...
    window.CP.PenTimer.MAX_TIME_IN_LOOP_WO_EXIT = 6000; 
  }
  window.addEventListener("resize", resizeCanvas);
  addClickListeners();
  if (!!window.location.pathname.match(/fullcpgrid/)) {
    startFauxClicking();
  }
  handleInactiveUser();
})();

function handleInactiveUser() {
  var inactive = setTimeout(function(){
    fauxClick(cW/2, cH/2);
  }, 2000);
  
  function clearInactiveTimeout() {
    clearTimeout(inactive);
    document.removeEventListener("mousedown", clearInactiveTimeout);
    document.removeEventListener("touchstart", clearInactiveTimeout);
  }
  
  document.addEventListener("mousedown", clearInactiveTimeout);
  document.addEventListener("touchstart", clearInactiveTimeout);
}

function startFauxClicking() {
  setTimeout(function(){
    fauxClick(anime.random( cW * .2, cW * .8), anime.random(cH * .2, cH * .8));
    startFauxClicking();
  }, anime.random(200, 900));
}

function fauxClick(x, y) {
  var fauxClick = new Event("mousedown");
  fauxClick.pageX = x;
  fauxClick.pageY = y;
  document.dispatchEvent(fauxClick);
}
  </script>

</body>

</html>
